.header{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 5px black; 
    background-color: #262730;
    height: 130px;
    width: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}